{% include "message/base.html" %}
{% block content %}
<div class="main">
    <h1 style="margin-left:10%;margin-right: 10%;margin-top:0.1%;">{{dms.name}}</h1>
    <div class="users" style="float:right;">
        <h4 style="font-size:14px;background-color: #0c0f14!important; margin-top:10%;">Members: {{dms.list_of_people.count}}</h4>
        {% for user in dms.list_of_people.all%}
            <h4 style="background-color: #0c0f14!important;">{{user.username}}</h4>
        {% endfor %}
    </div>

    <div class="messages">
        <div class="message" style="margin-top:1%; margin-left:1%;">
            <h1>{{message.objects.all}}</h1>
            {% for i in message %}
                <h3>{{i.from_user}}: {{i.text}}</h3>
            {% endfor %}    
        </div>
    </div>
    <div class="input">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" id="text" name="text" rows="2" placeholder="Message {{dms.name}}" style="border-radius: 15px; margin-top:0.5%;color:white"></textarea>
            </div>
            
        </form>
    </div>
    
</div>
{% endblock content%}