{% include "message/base.html" %}

<div style="float:left;width:3.5vw;height:100vh; background-color:#1E1F22!important">
</div>

<div style="float:left;width:10vw;height:100vh; background-color:#2B2D31!important; display:flex; flex-direction:column;">
    <div style="margin-left:10%;display:flex; flex-direction:column;">
        <span style="font-size:12px; background-color:#2B2D31; font-weight:600; color:#949BA4;">Direct Messages</span>
        {% for i in dm %}
            <a href="{% url 'dm' i.id %}" style="font-size:16px; background-color:#2B2D31; font-weight:500; color:#949BA4; text-decoration:none;">{{i.name}}</a>
        {% endfor %}    
    </div>
</div>
<div style="display:flex; flex-direction:column;float:left;width:75vw;height:96.8vh;background-color:#313338!important;overflow:scroll;" id="messages">
    {% comment %} <textarea style="background-color:#313338; outline:none; resize:none; border:none; color:white; height:95%;margin-left:1%;" readonly spellcheck="false" id="messages">{{message}}</textarea> {% endcomment %} 
        {% for message in messages %}
            <div style="" id="{{message.id}}">
                <span class="from_user">{{message.from_user}}  <span class="date">{{message.time|date:'d/m/Y' }} at {{message.time|date:'g:i A'}}</span> </span>
                <span class="message">{{message.text}}</span>
            </div>
        {% endfor %}
    <form method="post" style="display:flex; flex-direction:row; align-items:center;">
        {% csrf_token %}
        <div class="mb-3">
           

            <div class="autocomplete" style="border-radius: 2px; position: absolute;bottom:0;color:white; width:75vw;margin-right:2px;padding:10px;margin-bottom:1%;">
                <input type="text" class="form-control" id="text" name="text" rows="2" placeholder="Message {{dms.name}}" style="background-color:#383A40!important;color:white;outline:none; resize:none; border:none;">
                <input type="submit" hidden/>
            </div>
           
        </div>
        
        
    </form>
</div>
<div style="float:left;width:10.6vw;height:100vh; background-color:#2B2D31;display:flex; flex-direction:column;">
    <div style="margin-left:10%;margin-top:10%;display:flex; flex-direction:column;">
        <span style="font-size:12px; background-color:#2B2D31; font-weight:600; color:#949BA4;">Members--{{dms.list_of_people.count}}</span>
        {% for user in dms.list_of_people.all%}
            <span style="font-size:16px; background-color:#2B2D31; font-weight:600;" id="{{user.username}}">{{user.profile.online}} {{user.username}}</span>
        {% endfor %}
    </div>
</div>
{% comment %} <script>
    var messageBody = document.querySelector('#messages');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
</script> {% endcomment %}
<script>
    $(document).ready(function(){
    setInterval(function(){
        $.ajax({
            type:'GET',
            url : "/ajax/{{dms.id}}",
            success: function(response){

                
                //var $textarea = $('#messages');
                for (const [key,value] of Object.entries(response.messages)){
                    var element =  document.getElementById(key);
                    if (element == null){
                        g = document.createElement('div');
                        g.setAttribute("id", key);
                        document.getElementById("messages").appendChild(g);
                        var dateSpan = document.createElement('span')
                        g.appendChild(dateSpan);
                        dateSpan.innerHTML = value[0];
                        var dateSpan1 = document.createElement('span')
                        g.appendChild(dateSpan1);
                        dateSpan1.innerHTML =  " " + value[2];
                        var dateSpan2 = document.createElement('span')
                        g.appendChild(dateSpan2);
                        dateSpan2.innerHTML = " " + value[1];
                        dateSpan.classList.add("from_user");
                        dateSpan1.classList.add("date");
                        dateSpan2.classList.add("message");
                    }
                }
                for (const [key, value] of Object.entries(response.online)) { 
                    $("#"+key).html(value +" " + key);
                }

            },
            error: function(response)
            {
                console.log("b");
            }
        });
    },100);
});</script>
<script>
    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          if(this.value == "``")
          {
            this.value = "````"
            this.setSelectionRange(this.value.length/2, this.value.length/2);
          }
          
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
     
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }
    
    /*An array containing all the country names in the world:*/
    var commands = ["/random_number(1,10)"]
    /*initiate the autocomplete function on the "myInput" element, and pass along the commands array as possible autocomplete values:*/
    autocomplete(document.getElementById("text"), commands);
    </script>
{% comment %} {% block content %}
<div class="main">
    <h1 style="margin-left:10%;margin-right: 10%;margin-top:0.1%;">{{dms.name}}</h1>
    <div class="users" style="float:right;">
        <h4 style="font-size:14px;background-color: #0c0f14!important; margin-top:10%;">Members: {{dms.list_of_people.count}}</h4>
        {% for user in dms.list_of_people.all%}
            <h4 class="usertext" id="{{user.username}}">{{user.profile.online}} {{user.username}}</h4>
        {% endfor %}
    </div>
    <div class="dms" style="float:left;">
        <div style="margin-top:10%;"> 
            {% for i in dm %}
                {% if dms.id == i.id %}
                    <a href="{% url 'dm' i.id %}" style="text-decoration:none;"><h3 class="dmtext-selected">{{i.name}}</h3></a>
                {% else %}
                    <a href="{% url 'dm' i.id %}" style="text-decoration:none;"><h3 class="dmtext">{{i.name}}</h3></a>
                {% endif %}
                
            {% endfor %}    
        </div>
    </div>
    <div class="messages">
        <div class="message">
            <textarea style="" id="messages">{{message}}</textarea>      
        </div>
    </div>
    
    
    <div class="input" >
        <form method="post" style="display:flex; flex-direction:row; align-items:center;">
            {% csrf_token %}
            <div class="mb-3">
                <textarea class="form-control" id="text" name="text" rows="2" placeholder="Message {{dms.name}}" style="border-radius: 2px; margin-top:0.5%;color:white; width:85vw;margin-right:2px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left:2px;">Submit</button>   
        </form>
    </div>
    
</div>
{% endblock content%} {% endcomment %}