* {
    color:white;
    background-color: #0D1117!important;
}
.login{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.register{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.emailmargin{
    margin-top:3%
}
.newlogininputdiv{
    width: 50vw;
}
.registerbutton{
    width: 60vw;
}
.newlogininput{
    border-radius: 25px;
    border-color: white;
}
.messages{
    border: solid white 1px;
    border-radius: 15px;
    height:85vh;
    margin-left:10%;
    margin-right: 10%;
}
.users{
    border: solid white 1px;
    border-radius: 20px;
    width: 9%;
    height:85vh;
    background-color: #0c0f14!important;
}

.input{
    margin-left:10%;
    margin-right: 10%;
}
@media only screen and (max-width: 750px)
{
    *{
        font-size: 16px;
    }
    .login{
        margin-top: 15%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .register{
        margin-top: 10%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .newlogininputdiv{
        height:100%;
        width:40vh;
    }
    .registerbutton{
        width:100%;
    }
    .emailmargin{
        margin-top:10%
    }
    .newlogininput{
        border-radius: 25px;
        border-color: black;
    }
}