
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background:#2B2D31;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background: #1A1B1E;
    border-radius:10px;
  }
* {   
    color:white;
    background-color: #2B2D31;
    font-family:"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.emailmargin{
    margin-top:3%
}
.newlogininputdiv{
    width: 50vw;
}
.registerbutton{
    width: 60vw;
}
.newlogininput{
    border-radius: 25px;
    border-color: white;
}
@media only screen and (max-width: 750px)
{
    *{
        font-size: 16px;
    }
    .login{
        margin-top: 15%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .register{
        margin-top: 10%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .newlogininputdiv{
        height:100%;
        width:40vh;
    }
    .registerbutton{
        width:100%;
    }
    .emailmargin{
        margin-top:10%
    }
    .newlogininput{
        border-radius: 25px;
        border-color: black;
    }
}